body {
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: white;
  color: #222;
}

header {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EA151F;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  position: relative;
  color: #EA151F;
}

a:after{ 
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

header h4 {
  margin: 0;
  margin-left: 10px;
}

header a {
  margin-left: 10px;
  color: white;
}

header a:hover {
  color: white;
}

button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: white;
  color: #EA151F;
  border:#EA151F ridge 1px;
  border-radius: 5px;
  padding: 5px;
  transition: 0.1s;
  box-shadow: 0 5px rgb(189, 189, 189);
}

button:hover {
  background-color: #EA151F;
  color: white;
  cursor: pointer;
}

button:active {
  box-shadow: 0 1px rgb(137, 137, 137);
  transform: translateY(4px);
}

button:disabled {
  opacity: 0.6;
  box-shadow: none;
}

button:disabled:active {
  box-shadow: none;
  transform: translateY(0px);
}

button:disabled:hover {
  cursor: default;
  background-color: white;
  color: #EA151F;
}

label {
  color: #EA151F;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.nav-list {
  display: flex;
  border-radius: 10px;
  width: fit-content;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-item {
  display: table-cell; 
  position: relative;
}

.nav-item a {
  display: inline-block;
}

.articles-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.articles-item {
  border: black ridge;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.articles-item:hover {
  box-shadow: 1px 1px 4px 4px rgb(137, 137, 137);
  cursor: pointer;
}

.articles-item img {
  width: 30vw;
}

.articles-stats {
  display: flex;
  justify-content: space-evenly;
}

.loading{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.loading-box {
  height: 0.25em;
  width: 0.25em;
  background-color: #222;
}

.page-buttons {
  display: flex;
  justify-content: space-around;
}

.page-count {
  margin: 0;
}

.home {
  text-align: center;
}

.home select {
  margin-left: 10px;
  margin-right: 10px;
}

.article-page {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 25px;
}

.article-page img {
  width: 80vw;
}

.article-page a:after {
  background: #EA151F;
}

.article-page a:visited {
  color: #EA151F;
}

.article-author {
  margin-top: 0;
}

.article-votes button {
  margin: 2px;
}

.article-comments {
  display: grid;
  place-items: center;
  font-size: 0.75em;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comments-item {
  border-style: ridge;
  border-radius: 5px;
  border-color: black;
  padding: 5px;
  height: min-content;
  width: 70vw;
}

.date {
  text-align: left;
  opacity: 0.65;
  font-size: 0.6em;
  color: black;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.comment-form textarea {
  margin-top: 5px;
  resize: none;
  width: 70vw;
  height: 30vw;
}

.comment-form button {
  width: 50%;
}

.comment-votes button {
  margin: 5px;
}

.topics-page {
  text-align: center;
}

.topics-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

.topics-item {
  border-color: black;
  border-style: ridge;
  border-radius: 10px;
  padding: 5px;
  flex-grow: 1;
}

.topics-item:hover {
  box-shadow: 1px 1px 4px 4px rgb(137, 137, 137);
  cursor: pointer;
}

.articles-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-contribute {
  width: 20%;
  margin-bottom: 10px;
}

.articles-sort {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

.articles-sort select{
  font-size: 12px;
}

.articles-sort label {
  margin-left: 3px;
  margin-right: 2px;
}
.articles-sort button {
  padding: 2px;
  margin-left: 5px;
  font-size: 8px;
}

.delete-comment button {
  margin-top: 25px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.users-item {
  border: black ridge;
  border-radius: 5px;
  padding: 10px;
}
.users-item:hover {
  box-shadow: 1px 1px 4px 4px rgb(137, 137, 137);
  cursor: pointer;
}

.users-item img {
  width: 50%;
}

.upvote {
  color: green;
  border-color: green;
}

.upvote:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.upvote:disabled {
  background-color: green;
  color: white;
}

.upvote:hover {
  background-color: green;
  color: white;
}

.upvote:disabled:hover {
  background-color: green;
  color: white;
}

.downvote:disabled {
  background-color: #EA151F;
  color: white;
}

.downvote:disabled:hover {
  background-color: #EA151F;
  color: white;
}

.hide-comments {
  margin-top: 10px;
}

.contribute-logout a:after {
  background: #EA151F;
}

.contribute-page a:after {
  background: #EA151F;
}

.contribute-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contribute-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.contribute-form-info {
  display: flex;
  flex-direction: column;
}

.contribute-form textarea {
  resize: none;
  width: 70vw;
  height: 30vh;
}

.contribute-form button {
  width: 50%;
}

.add-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.add-topic-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-topic-form textarea{
  resize: none;
  height: 10vh;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  border: #EA151F ridge;
  border-radius: 10px;
  width: 50vw;
  height: 35vh;
}
.modal-content button {
  margin: 10px;
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 22px;
  }

  .comment-form textarea {
    height: 15vw;
  }

  .contribute-form {
    gap: 10px;
  }

  .contribute-form textarea {
    height: 50vw;
    font-size: large;
  }

  .add-topic-form textarea{
    resize: none;
    height: 20vh;
  }

  .articles-sort {
    font-size: 22px;
  }
  
  .articles-sort select{
    font-size: small;
  }

  .article-page {
    padding-left: 100px;
    padding-right: 100px;
  }

  .article-page img {
    width: 50vw;
  }

  .articles-sort label {
    margin-left: 10px;
    margin-right: 3px;
  }
  .articles-sort button {
    font-size: small;
    margin-left: 15px;
    padding: 3px;
  }
  
  .delete-comment button {
    margin-top: 25px;
  }

}
