body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: rgb(255, 248, 239);
  color: rgb(230, 32, 32);
  text-shadow: 0px 0px black;
}

header {
  background-color: rgb(255, 241, 223);
  border-radius: 5px;
}

h2 {
  text-align: center;
}

article {
  color: black;
}

a {
  text-decoration: none;
  color: rgb(230, 32, 32);
}

button {
  padding: 5px;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.nav-list {
  display: flex;
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
  width: fit-content;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 5px;
}

.articles-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.articles-item {
  background-color: rgb(255, 241, 223);
  border-color: rgb(230, 32, 32);
  border-style: ridge;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.articles-item:hover {
  box-shadow: 1px 1px 4px 4px rgb(137, 137, 137);
  cursor: pointer;
}

.articles-item img {
  width: 30vw;
}

.loading{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.loading-box {
  height: 0.25em;
  width: 0.25em;
  background-color: rgb(230, 32, 32);
}

.page-buttons {
  display: flex;
  justify-content: space-around;
}

.home {
  text-align: center;
}

.article-page {
  text-align: center;
  background-color: rgb(255, 241, 223);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.article-page img {
  width: 80vw;
}

.article-votes button {
  margin: 2px;
}

.article-comments {
  display: grid;
  place-items: center;
  font-size: 0.75em;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comments-item {
  border-style: ridge;
  border-radius: 5px;
  border-color: rgb(230, 32, 32);
  padding: 5px;
  height: min-content;
  width: 70vw;
}

.date {
  text-align: left;
  opacity: 0.5;
  font-size: 0.5em;
  color: black;
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 22px;
  }
}
